
*
{
	margin:0;
	padding:0;
	box-sizing:content-box;
}

body
{
	background-color:steelblue;
}

header
{
	width:100%;
	height:80px;
	background-color:#000;
	color:orange;
}

ul
{
	margin:0;
	padding:0;	
	list-style:none;
}

a
{
	position:relative;
	color:orange;
}

a:hover
{
	color:orange;
	text-decoration:none;
}

a:before
{
	content:'';
	position:absolute;
	bottom:-5px;
	left:0;	
	width:50%;
	height:2px;
	transform:scaleX(0);
	background-color:orange;
	transform-origin:bottom right;
	transition:transform 0.25s ease-out;
}

a:hover::before
{
	transform:scaleX(1);
}

a:after
{
	content:'';
	position:absolute;
	bottom:-5px;
	left:50%;	
	width:50%;
	height:2px;
	transform:scaleX(0);
	background-color:orange;
	transform-origin:bottom left;
	transition:transform 0.25s ease-out;
}

a:hover::after
{
	transform:scaleX(1);
}


#main-nav
{
	width:100%;
	height:80px;
	margin:0;
	padding:0;	
}

#main-ul
{
	width:100%;
	height:80px;
	margin:0;
	padding:0;	
}

#main-ul li
{
	height:80px;
	line-height:80px;
	margin:0;
	padding:0;	
	text-align:center;
	float:left;
}

.submenu-container
{
	position:relative;
	display:none;
	overflow:hidden;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;	
}

.sub-menu
{
	position:relative;
	width:100%;
}

.sub-menu li
{
	background-color:#000;
	float:none !important;
}

.sub-menu li:last-child
{
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}

main
{
	margin-top:400px;
	width:100%;
	text-align:center;
	font-size:32px;
	color:darkblue;
}

